    body {
    height: 100vh;
    margin: 0;
    padding: 0;
  }

  .App {
    text-align: center;
  }

  .App {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    align-items: center;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .card1,
  .card2,
  .card3,
  .card4,
  .card5,
  .card6,
  .card7 {
    position: relative;
    width: 330px;
    height: 230px;
    margin: 0 20px 40px 20px;
    overflow: hidden;
    border-radius: 8px;
  }

  .card1 img,
  .card2 img,
  .card3 img,
  .card4 img,
  .card5 img,
  .card6 img,
  .card7 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .card1 h2,
  .card2 h2,
  .card3 h2,
  .card4 h2,
  .card5 h2,
  .card6 h2,
  .card7 h2 {
    position: absolute;
    bottom: 50%;
    left: 0;
    padding: 8px;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    color: white;
  }

  .card1 p,
  .card2 p,
  .card3 p,
  .card4 p,
  .card5 p,
  .card6 p,
  .card7 p {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 8px;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    font-size: 0.9rem;
    text-align: center;
    color: white;
  }

  .form-container{
    align-items: center;
    flex-direction: column;
    display: flex;
    border-radius: 8px;
    border: 4px solid blue;
    padding: 20px;
  
  }

  .form-container input{
    width: 100%;
    margin-bottom: 10px;
  }

  .story-input {
    width: 100%;
    margin-bottom: 10px;
    min-width: 200px;
    height: 150px;
  }

  .story-container{

  }

  .card-story{
    position: relative;
    width: 330px;
    height: 230px;
    margin: 0 20px 40px 20px;
    overflow: hidden;
    border-radius: 8px;

  }
  .card-story p1{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 8px;
    margin: 0;
    width: 100%;
    font-size: 0.9rem;
    text-align: center;
    color: white;
  }
  .card-story p2{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 8px;
    margin: 0;
    width: 100%;
    font-size: 0.9rem;
    text-align: center;
    color: white;
  }
  .card-story h2{
    position: absolute;
    bottom: 10%;
    left: 0;
    padding: 8px;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    color: white;
  }

  .story-button{

  }